fastapi
python-dotenv
uvicorn
requests
langchain
langchain-community
langchain-text-splitters
faiss-cpu
huggingface_hub
sentence-transformers
beautifulsoup4
docx2txt
openpyxl
xlrd
striprtf
pypdf
python-pptx
odfpy
httpx
duckduckgo-search
rapidocr-onnxruntime
pymupdf
